*{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    font-family: sans-serif, Verdana;
}
img#imagemLogo{
    width: 200px;
    height: 100px;
    margin-left: 40px;
}
/*Menu Horizontal*/
.navbar-light .navbar-nav .nav-link{
    margin-left: 45px;
    padding: 7px;
    margin-top: 65px;
    font-size: 18px;
}
h3.textoApresentacao{
    padding: 10px;
    margin-left: -15px;
    text-align: center; 
}
p.textoApresentacao{
    margin-bottom: 20px;
    padding: 10px;
    margin-top: 10px; 
    font-size: 20px;
    margin-left: 30px;
    text-align: justify;  
}
#subir{
    position: fixed;
    padding: 20px;
    border-radius: 5px;
    height: 65px;
    bottom:0px;
    right:0px;
    cursor: pointer;
}
.rodape{
    color: #FFF;
    background-color: #000000;
    text-align: center;
    font-size: 14px;
    font-family: sans-serif, Verdana;
    margin-top: 40px;
    height: 50px;
    padding: 10px;
}
@media (min-width: 320px) and (max-width: 480px){
    h4{
        padding-top: 400px;
        text-align: center;
    }
    img#imagemLogo{
        margin-left: 0px;
    }
    p.textoApresentacao{
        margin-left: 20px;
        margin-right: 20px;
        font-size: 17px;
        text-align: justify;
    }
    h3.textoApresentacao{
        margin-left: 20px;
        margin-right: 20px;
    }
    .bg-dark{
        width: 100%;
    }
    .form-control{
        margin-right: 120px;
    }
    .rodape{
        width: 100%;
    }
}
